/*
  ===============================================
  # CORE MIXINS
  ===============================================
*/

/*
  -----------------------------------------------
  ## Clearfix
  -----------------------------------------------
*/

@mixin clearfix {
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

/*
  -----------------------------------------------
  ## Breakpoint
  -----------------------------------------------
*/

@mixin breakpoint($point) {
  @media #{breakpoint($point)} {
    @content;
  }
}
