/*
  ===============================================
  # UTILITY HELPERS
  ===============================================
*/

// Import core Utils
@import "utils/functions";

/*
  -----------------------------------------------
  ## Box Model Helpers
  -----------------------------------------------
*/

/*
  ### Clearfix
*/
.clearfix     { @include clearfix; }

/*
  ### Responsive Float Helpers
*/

@mixin float($viewport) {
  $context  : if($viewport == '', '', '#{$viewport}-');
  .#{$context}float-left {
    float: left !important;
  }
  .#{$context}float-right {
    float: right !important;
  }
  .#{$context}float-none {
    float: none !important;
  }
}

@each $breakpoint in $breakpoints {
  $viewport     : key($breakpoint);
  $declaration  : value($breakpoint);
  @media #{$declaration} {
    @include float($viewport);
  }
}

/*
  -----------------------------------------------
  ## Text Helpers
  -----------------------------------------------
*/

/*
  ### Responsive Text Alignment Helpers
*/

@mixin text-align($viewport) {
  $context  : if($viewport == '', '', '#{$viewport}-');
  .#{$context}align-left {
    text-align: left !important;
  }
  .#{$context}align-right {
    text-align: right !important;
  }
  .#{$context}align-center {
    text-align: center !important;
  }
  .#{$context}align-justify {
    text-align: justify !important;
  }
  .#{$context}align-none {
    text-align: inherit !important;
  }
}

@each $breakpoint in $breakpoints {
  $viewport     : key($breakpoint);
  $declaration  : value($breakpoint);
  @media #{$declaration} {
    @include text-align($viewport);
  }
}
